.DS_Store
.idea
.vscode
*.vcd
*.bak
runs
src/sim_build
src/__pycache__/
src/results.xml
src/user_config.tcl
src/log
**/*.mem
**/work/
work/
*.wlf
transcript

# Exclude some files
!src/fpga_demo/*d.mem
